
.dropMenu{
  display: flex;
  justify-content: space-around;
  margin: 30px 50px;
  list-style: none;
  width: 20%;
  border-bottom: 3px solid skyblue;

}
.dropdownList{
  list-style: none;
  line-height: 45px;
  display: none; 
  position: absolute;
  left: 150px;
  padding-top:10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 3px solid skyblue;
  color: black;
  cursor: pointer;
}
.dropMenuItems:hover .dropdownList{
  display: block;
}
.dropMenuItems:hover{
  color: skyblue;
  cursor: pointer;
}